{{!-- Splash/Login page --}}
<div class="Splash">
  <h1 class="Splash__header text--uppercase">my todo</h1>

  <div class="Splash__form">
    {{> index/login-form }}
  </div>

  <div class="Splash__no-account">
    {{> index/no-account }}
  </div>
</div>


{{!-- splash script --}}
<script src="./assets/js/splash.js"></script>