{{!-- Register page --}}
<div class="Register">
  <h1 class="Register__header text--uppercase">sign up</h1>

  <div class="Register__form">
    {{> register/register-form }}
  </div>

  <div class="Register__have-an-account">
    {{> register/have-account }}
  </div>
</div>

{{!-- register script --}}
<script src="./assets/js/register.js"></script>