<form class="Form">
  <div class="Form__field">
    <label for="login-email" class="Form__label text--uppercase">email</label>
    <div class="Form--flex">
      <img class="Form__icon" src="https://img.icons8.com/material/24/000000/important-mail.png" alt="mail icon">
      <input id="login-email" type="email" class="Form__input" name="email" />
    </div>
  </div>
  <div class="Form__field">
    <label for="login-password" class="Form__label text--uppercase">password</label>
    <div class="Form--flex">
      <img class="Form__icon" src="https://img.icons8.com/material/24/000000/password1--v1.png" alt="password icon">
      <input id="login-password" type="password" class="Form__input" name="password" />
    </div>
  </div>
  <button 
    id="login-button"
    type="button"
    class="Form__submit button button--dark button--large text--uppercase"
  >login</button>
  <div class="Form__error">
    <span id="splash-error-message" class="Form__error-text" />
  </div>
</form>