<form class="Form">
  <div class="Form__field">
    <label for="register-first-name" class="Form__label text--uppercase">first name</label>
    <div class="Form--flex">
      <img class="Form__icon" src="https://img.icons8.com/material/24/000000/autograph.png" alt="first name icon">
      <input id="register-first-name" type="text" class="Form__input" name="first-name" />
    </div>
  </div>
  <div class="Form__field">
    <label for="register-last-name" class="Form__label text--uppercase">last name</label>
    <div class="Form--flex">
      <img class="Form__icon" src="https://img.icons8.com/material/24/000000/autograph.png" alt="last name icon">
      <input id="register-last-name" type="text" class="Form__input" name="last-name" />
    </div>
  </div>
  <div class="Form__field">
    <label for="register-email" class="Form__label text--uppercase">email</label>
    <div class="Form--flex">
      <img class="Form__icon" src="https://img.icons8.com/material/24/000000/important-mail.png" alt="mail icon">
      <input id="register-email" type="email" class="Form__input" name="email" />
    </div>
  </div>
  <div class="Form__field">
    <label for="register-password" class="Form__label text--uppercase">password</label>
    <div class="Form--flex">
      <img class="Form__icon" src="https://img.icons8.com/material/24/000000/password1--v1.png" alt="password icon">
      <input id="register-password" type="password" class="Form__input" name="password" />
    </div>
  </div>
  <div class="Form__field">
    <label for="register-password-match" class="Form__label text--uppercase">password</label>
    <div class="Form--flex">
      <img class="Form__icon" src="https://img.icons8.com/material/24/000000/password1--v1.png" alt="password icon">
      <input id="register-password-match" type="password" class="Form__input" name="password-match" />
    </div>
  </div>
  <button 
    id="register-button"
    type="button"
    class="Form__submit button button--dark button--large text--uppercase"
  >register</button>
  <div class="Form__error">
    <span id="register-error-message" class="Form__error-text" />
  </div>
</form>